* {
    margin: 0;
    /** margem **/
    padding: 0;
    /** NAO LEMBRO**/
}

body {
    box-sizing: border-box;
    /** **/
    width: 100vw;
    height: 100%;
    /** margem **/
    background-color: #E2DBBE;
    /** cor de fundo **/
    color: #B66D0D;
    /** cor da letra **/
    font-family: 'Comic Sans MS', sans-serif;
    /** fonte utilizada **/
    font-size: 16px;
    /** o tamanho da fonte? **/
    line-height: 1.5;
    overflow-x: hidden;

}

.cabecalho{
    padding: 2% 0% 0% 9%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link{
    font-size: 1.5rem;
    font-weight: 600;
    color:#769FB6;
    text-decoration: none;
}

.cabecalho_menu_link:hover {
    text-decoration: underline overline;

}


.titulo-destaque {
    color: #769FB6;

}

.apresentacao {
    margin: 5% 15%;
    /** margens também, mas como foi colocado dois valores, pega o valor de cima e do lado direito (ele segue no sentido **/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    ga: 20px;
    /* margin-right: 100px; */

}

.apresentacao_conteudo_titulo {

    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 40px;
}

.apresentacao_conteudo_texto {
    font-family: "Madimi One", sans-serif;
    font-weight: 200;
    font-style: normal;

    font-size: 20px;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    /* margin: 3px 78px; */
    gap: 50px;
}

.apresentacao_links_link {
    background-color: #769FB6;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    color: #B66D0D;
    padding: 10px 1px;


    font-family: "Madimi One", sans-serif;
    font-weight: 300;
    font-style: normal;

    font-size: 24px;


}

.apresentacao_links_link:hover {
    color: #49393B;
}

.rodape {
    padding: 20px;
    text-align: center;
    background-color: #769FB6;
    font-size: 1.0rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
         padding: 10%;  
    }
    .cabecalho__menu{
        justify-content: center;
        align-items: center;

    
    }
    .apresentacao{
        flex-direction: column-reverse;
        /* padding: 5%; */
    }
    .apresentacao__conteudo{
        width: 705px;
        margin-right: 0px;

        /* width: auto; */
    }
}
